# ── .NET ──────────────────────────────────────────
bin/
obj/
*.user
*.suo
.vs/
*.log
*.DS_Store

# ── ASP.NET ───────────────────────────────────────
appsettings.json
appsettings.*.json
!appsettings.Development.json
!appsettings.example.json

# ── Angular / Node ────────────────────────────────
node_modules/
dist/
.angular/
*.js.map

# ── IDE ───────────────────────────────────────────
.vscode/settings.json
.idea/

.fake